@page
@model ECommerceRazor.Pages.Admin.Categorias.IndexModel
@{
    ViewData["Title"] = "Categorias";
}

<div class="container mt-4">
    <!--Mensaje desde el code behind con alertas de bootstrap-->
    @* @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>    
    } *@
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lista de categorías</h2>
        <a asp-page="Crear" class="btn btn-primary"><i class="fa-regular fa-square-plus"></i> Nueva categoría</a>
    </div>
    @if (Model.lCategorias != null && Model.lCategorias.Any())
    {
        <table id="tbCategorias" class="table table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Orden de visualización</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model.lCategorias)
                { 
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                        <td>@categoria.OrdenVisualizacion</td>
                        <td>@categoria.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a asp-page="Editar" asp-route-id="@categoria.Id" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                            <a asp-page="Detalle" asp-route-id="@categoria.Id" class="btn btn-sm btn-secondary"><i class="fa-solid fa-circle-info"></i> Detalle</a>
                            @Html.AntiForgeryToken()
                            <buton class="btn btn-danger btn-delete btn-sm" data-id="@categoria.Id" data-name="@categoria.Nombre"><i class="fa-solid fa-trash-can"></i>Eliminar</buton>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No hay categorías registradas aún.
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/categoriasTable.js"></script>
    <script src="~/js/eliminarCategoria.js"></script>    
}


