@page
@model ECommerceRazor.Pages.Admin.Productos.IndexModel
@{
    ViewData["Title"] = "Lista de Productos";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lista de productos</h2>
        <a asp-page="Crear" class="btn btn-primary"><i class="fa-regular fa-square-plus"></i> Nuevo producto</a>
    </div>
    @if (Model.lProductos != null && Model.lProductos.Any())
    {
        <table id="tbProductos" class="table table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    @* <th>Descripción</th> *@
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model.lProductos)
                {
                    <tr>
                        <td>@producto.Id</td>
                        <td>@producto.Nombre</td>
                        @* <td>@producto.Descripcion</td> *@
                        <td>
                            <img src="@Url.Content($"~/img/{producto.Imagen}")" alt="Imagen de @producto.Nombre" style="width: 60px; height: auto;"/>
                        </td>
                        <td>@producto.Precio</td>
                        <td>@producto.Stock</td>
                        <td>@producto.Categoria.Nombre</td>
                        <td>@producto.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a asp-page="Editar" asp-route-id="@producto.Id" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                            <a asp-page="Detalle" asp-route-id="@producto.Id" class="btn btn-sm btn-secondary"><i class="fa-solid fa-circle-info"></i> Detalle</a>
                            @Html.AntiForgeryToken()
                            <buton class="btn btn-danger btn-delete btn-sm" data-id="@producto.Id" data-name="@producto.Nombre"><i class="fa-solid fa-trash-can"></i>Eliminar</buton>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No hay productos registrados aún.
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/productosTable.js"></script>
    <script src="~/js/eliminarProducto.js"></script>
}


